*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  background-image: url(../img/fondodelbody/country-quilt.png);
  background-repeat: repeat;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.contenedor header{
    /*width: 90%;*/
    /*max-width: 1000px;*/
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor header .usuario{
    width: 100%;
    padding: 10px 0;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-image:linear-gradient(rgba(255, 255, 255, 0.178),rgba(255, 255, 255, 0.096)), url(../img/papeleria.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.contenedor header .usuario .navegacion,
.contenedor header .usuario .redes-sociales nav{
    margin-top: 20px;
}

.contenedor header .usuario .navegacion a{
    font-size: 13px;
    border: 2px solid #1845A5;
    border-radius: 5px;
    padding: 8px;
    background-color: #1845A5;
    font-family: 'Open Sans',sans-serif;
    /*font-weight: bold;*/
    text-decoration: none;
    color:white;
    margin-right: 15px;
    margin-left: 15px;
}

.contenedor header .usuario .navegacion a:hover{
   text-decoration: underline gainsboro;
}

.contenedor header .usuario .navegacion a .user{
    color: white;
    padding-right:5px;
}
.contenedor header .usuario .redes-sociales nav{
    margin-right: 25px;
}
.contenedor header .usuario .redes-sociales nav a{
    padding: 7px;
    background-color: royalblue;
    margin: 0 6px;
    font-size: 1.6em;
    color:white;
    transition: all .3s ease;
    text-decoration: none;
    border-radius: 5px;
}
/*.contenedor header .usuario .buscador{
    margin-top: 20px;
    margin-right: 15px;
}*/

/* menu de barra */
.contenedor .barra{
    background-color: #1E3888;
    position: relative;
}
.contenedor .barra .menu ul{
    list-style: none;
}

.contenedor .barra .menu > ul > li{
    float: left;
} 

.contenedor .barra .menu ul::after{
    content: '';
    display: block;
    clear: both;
}

.contenedor .barra .menu ul li a{
    color: white;
    display: inline-block;
    width: 150px;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.contenedor .barra .menu ul li ul li a{
    color: aliceblue;
}
.contenedor .barra .menu ul li a:hover{
    background-color: #1845A5;
}

.contenedor .barra .menu .buscador input{
    margin-top: 16px;
    margin-left: 120px;
    width: 250px;
    height: 23px;
    border-color:#1845A5;
    background-color: white;
    font-size: 1.0em;
}

.contenedor .barra .menu ul li .carrito{
   color: white;
   font-size: 1.6em;
   padding: 16px 15px;
   margin-top: 1px;
}
.contenedor .barra .menu ul li .carrito:hover{
    background-color: #1845A5;
}
/*segundo nivel de menu*/

.contenedor .barra .menu ul ul{
    position: absolute;
    display: none;
    top: 100%;
    border-top-color: #1E3888;
}

.contenedor .barra .menu ul li:hover > ul{
    display: block;
    background-color:#1E3888;
}

.contenedor .barra .menu ul li:hover{
    background-color: #1E3888;
}

.opciones .elementos{
    border: 2px solid #33658A;
    background-color: white;
    width: 25%;
    /*height: 69vh;*/
    text-align: left;
    margin-top: 2px;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-top: 15px;
}
.opciones .elementos .titulo{
    text-align: center;
    font-family:'Open Sans',sans-serif;
    margin-bottom: -5px;
    margin-top: -15px;
    font-size: 1.3em;
    background-color: rgb(168, 186, 199);
}
.opciones .elementos nav ul li{
    list-style: none;
    margin: 10px 15px 10px 0px;
    padding: 6px 6px 5.5px 6px;
    width: 100%;
}
.opciones .elementos nav ul li a{
    text-decoration: none;
    margin: 15px 10px 15px 20px;
    color: black;
    font-size: 1.2em;
}
.opciones .elementos nav ul li a:hover{
    /*font-size: 1.3em;*/
    border-bottom: 2px solid blue;
}

/*modificar datos p*/

.contenido-datos {
    width: 70%;
    background-color: #f1f1f1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 280px;
    margin-top: -148px;
    font-family: 'Open Sans',sans-serif;
}

.datos .field label{
    float: left; 
    width: 174px;
}

.contenido-datos .datos .field input{
    width: 300px;
    margin: 3px;   

}

.contenido-datos .btn input[type="button"]{
    background-color: #1845A5;
    padding: 5px;
    margin-left: 300px;
    font-family: 'Open Sans',sans-serif;
    color: white;
    transition: all .2 ease;
}

.contenido-datos .btn input[type="button"]:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/*Footer*/

.pie{
    background-color: #f1f1f1;
}

.pie .informacion{
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.pie .informacion p,
.pie .informacion h2{
    margin-top: 10px;
    font-size: 1.6em;
}

.pie .informacion p span{
    color: blue;
    text-transform: uppercase;
    font-size: 18px;
}

.pie .siguenos{
  width: 100%;
  padding: 5px 50px;
}

.pie .siguenos .redes-sociales{
    text-align: center;
}

.pie .siguenos p{
    text-align: center;
    padding: 10px 10px;
}

.pie .siguenos .redes-sociales a{
    padding: 0 10px;
    font-size: 1.4em;

}